
@{
    Layout = null;
}
@model HakunaMatata.Models.ViewModels.VM_Login

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Forgot password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/admin/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/admin/css/animate.css" rel="stylesheet">
    <link href="~/admin/css/loginstyle.css" rel="stylesheet">
    <link href="~/admin/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="login">
        <div class="container">
            <h1 style="margin-top: 100px">Forgot password</h1>
            <p class="text-warning">@ViewBag.Message</p>

            <div class="login-form">
                <form action="/AdminArea/Account/ResetPassword" method="GET">

                    <div class="form-group">
                        <input type="text" id="emailInputForgot" class="form-control" name="email" placeholder="Địa chỉ email" required>
                        <div class="text-left pl-1" id="check-existed-email-forgot"></div>
                    </div>
                    
                    <button style="align-content:center; margin-left:100px" type="submit">Gửi mã OTP</button>

                </form>
            </div>

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/admin/js/jquery-3.1.1.min.js"></script>
    <script src="~/admin/js/popper.min.js"></script>
    <script src="~/admin/js/bootstrap.js"></script>
    <script src="~/admin/js/services/hakunamata.js"></script>
</body>

</html>
<div class="parent clearfix">
    <div class="bg-illustration">
        <img src="~/assets/img/RAS-3.png" alt="logo">

        <div class="burger-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>


</div>