@{
    ViewData["Title"] = "Trang chủ";
}

@model HakunaMatata.Models.ViewModels.VM_News

@section scripts{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=MY_API_KEY&callback=LoadMarker">
    </script>
    <script type="text/javascript" src="~/assets/js/maplace-active.js"></script>
}
<div class="bg-navbar-news"></div>
<div class="bg-sesion-link">
    <div class="sesion-link container">
        <a href="/" class="sesion-link-item">
            <span>Home</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="/" class="sesion-link-item">
            <span>News</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="/" class="sesion-link-item">
            <span>ACT</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <span class="sesion-link-item">News main</span>
    </div>
</div>
<!-- body news start -->
<div class="container">
    <div class="container-body-news row">
        <div class="col-7">
            <div class="news-details-title">@Model.Title</div>
            <div class="authur-times">
                <span class="text-color mr-2">By</span>
                <div class="authur-text">Admin</div>
            </div>
            <div class="pb-4 mb-2 bdb">
                <img class="img-news-content" src="../images/@Model.UrlImage" />
            </div>
            <p class="text-color mt-3">@Model.NewsBody</p>

            <div class="news-details-box mt-5">
            </div>
            <div class="pb-4 mb-2 bdb">
                <img class="img-news-content" src="../images/@Model.UrlImage" />
            </div>
        </div>

        <div class="news-details-box mt-5">

            <div class="table-see-do-title text-color bdb">
                Bài Đăng Liên Quan
            </div>
            @foreach (var item in ViewBag.Top4new)
            {
                <div class="table-see-do-item bdb">
                    <a asp-action="NewsDetails" asp-route-id="@item.Id" class="row">

                        <img class="img-table-item" src="../images/@item.UrlImage" />
                        <span class="table-see-do-text text-color">@item.Title</span>
                    </a>
                </div>

            }
        </div>
    </div>

</div>
<!-- body news end -->

<style>
    .bdb {
        border-bottom: 1px solid #dee2e6;
    }

    .red-text {
        color: #e81043;
        font-weight: 600;
    }

    .times-text {
    }

    .authur-text {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #d8dbdf;
        color: red;
        font-weight: 600;
    }

    .authur-times {
        color: #5f7297;
        font-size: 14px;
        display: flex;
        margin: 16px 0;
    }

    .bg-navbar-news {
        height: 94px;
        background-color: #495057;
    }

    .sesion-link {
        margin-top: 48px;
        padding-bottom: 12px;
    }

    .text-color,
    .sesion-link-item {
        color: #0b2047;
        font-size: 15px;
    }

    .container-news {
        display: flex;
        background-color: #ccc;
        margin-top: 20vh;
    }

    .recommend-text {
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
        text-transform: none;
        color: #0A0B0D;
    }

    .container-text {
        padding-bottom: 20px;
    }

    .name-news {
        padding-top: 12px;
    }

    .container-title-text {
        margin-bottom: 70px;
    }

    .img-first-content {
        height: 100%;
    }

    .img-news-content {
        padding-right: 20px;
        height: 400px;
        width: 100%;
    }

    .img-flash-news {
        height: 100%;
    }

    .flash-news {
        padding: 16px 0;
    }

    .banner-inner-wrap {
        height: 128vh;
    }

    .container-body-news {
        padding-top: 20px;
    }

    .line-right {
        border-right: 1px solid #000;
    }

    .line-bottom {
        border-bottom: 1px solid #000;
    }

    .news-details-title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
        text-transform: none;
        color: #0B2047;
    }

    .table-see-do {
        padding: 20px 20px 4px 20px;
        border: 1px solid #dee2e6;
    }

    .img-table-item {
        height: 100px;
        width: 120px;
    }

    .table-see-do-title {
        padding-bottom: 14px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .table-see-do-text {
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        margin-left: 8px;
    }

    .table-see-do-item {
        padding: 16px 0;
    }

</style>

